<form [formGroup]="contactForm">
    <div>
      <label for="firstname">First Name</label>
      <input id="firstname" formControlName="firstname" />
      <div *ngIf="contactForm.get('firstname')?.['errors']?.['required']">
        First name is required.
      </div>
      <div *ngIf="contactForm.get('firstname')?.['errors']?.['minlength']">
        First name must be at least 2 characters long.
      </div>
    </div>
  
    <div>
      <label for="lastname">Last Name</label>
      <input id="lastname" formControlName="lastname" />
      <div *ngIf="contactForm.get('lastname')?.['errors']?.['required']">
        Last name is required.
      </div>
      <div *ngIf="contactForm.get('lastname')?.['errors']?.['minlength']">
        Last name must be at least 2 characters long.
      </div>
    </div>

    <div>
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" />
        <div *ngIf="contactForm.get('email')?.['errors']?.['required']">
            Email is required.
        </div>
        <div *ngIf="contactForm.get('email')?.['errors']?.['email']">
            Please enter a valid email address.
        </div>
    </div>
  
    <button type="submit" [disabled]="contactForm.invalid">Submit</button>
  </form>
  