// article.component.scss

@import '../app.component.scss'; // Importer les variables globales si nécessaire

.article {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: $border-radius;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  margin: 1rem;
  padding: 1.5rem;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;

  // État de survol pour l'article
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

  h2 {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
    color: $primary-color;
    transition: color 0.3s;

    // État de survol pour le titre
    &:hover {
      color: darken($primary-color, 15%);
    }
  }

  p {
    margin: 0 0 1rem; // Ajouter un espace après le paragraphe
    line-height: 1.6; // Améliorer la lisibilité
    color: $text-color;
  }

  .read-more {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: $primary-color;
    color: white;
    text-decoration: none;
    border-radius: $border-radius;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
      transform: scale(1.05); // Effet d'agrandissement au survol
    }
  }
}

button {
  background-color: #ff6b6b; /* Couleur de fond initiale */
  color: #fff; /* Couleur du texte */
  border: none; /* Pas de bordure */
  padding: 10px 20px; /* Espacement intérieur */
  font-size: 16px; /* Taille du texte */
  border-radius: 30px; /* Bords arrondis */
  cursor: pointer; /* Curseur en forme de main */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transition douce pour l'animation */

  &:hover {
    background-color: #ff4c4c; /* Changement de couleur au survol */
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
  }

  &:active {
    background-color: #ff3838; /* Couleur lors du clic */
    transform: scale(0.98); /* Réduction de taille lors du clic */
  }

  /* Style pour ajouter une ombre et un effet de surbrillance */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  &:focus {
    outline: none; /* Supprime le contour par défaut lors du focus */
    box-shadow: 0 0 0 4px rgba(255, 107, 107, 0.4); /* Ajoute une ombre plus prononcée lors du focus */
  }
}

