@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f9f9f9;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

section {
  padding: min(20vh, 2rem);
  width: calc(min(76.5rem, 90%));
  margin: auto;
  color: #111;
}

.article-container {
  display: flex;
  justify-content: center;
}

.card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin-top: 2rem;
}

.card-inner {
  position: relative;
  border-radius: 15px;
  overflow: hidden;

  .box {
    width: 100%;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    .imgBox {
      width: 100%;
      height: 200px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .content {
      padding: 20px;
      
      .article-title {
        font-size: 1.75rem;
        color: #333;
        margin-bottom: 1rem;
        text-transform: capitalize;
      }

      .article-content {
        font-size: 1rem;
        color: #555;
        margin-bottom: 1.5rem;
      }

      .article-tags {
        display: flex;
        gap: 20px;
        margin-bottom: 1.5rem;

        .category {
          font-size: 1rem;
          font-weight: bold;
          background: #70b3b1;
          color: #fff;
          padding: 5px 10px;
          border-radius: 15px;
        }

       
          
            .API {
              background: #d3b19a;
              color: darken(#d3b19a, 40%);
            }
          
            .Angular {
              background: #70b3b1;
              color: darken(#70b3b1, 40%);
            }
          
            .JavaScript {
              background: #d05fa2;
              color: darken(#d05fa2, 40%);
            }
          
            .Spring {
              background: #6f8e60;
              color: darken(#6f8e60, 40%);
            }
          
            .Basededonnées {
              background: #7098a6;
              color: darken(#7098a6, 40%);
            }
          
            .Web {
              background: #f0b3a1;
              color: darken(#f0b3a1, 40%);
            }
          
            .React {
              background: #6fa8d5;
              color: darken(#6fa8d5, 40%);
            }
        

        .date {
          font-size: 1rem;
          font-weight: normal;
          color: #888;
        }
      }

      .article-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.875rem;

        .likes {
          font-weight: bold;
          color: #ff6347;
        }

        .status {
          font-weight: bold;
          color: #28a745;
          &.published {
            color: #28a745;
          }
        }
      }
    }
  }
}

.no-article-message {
  font-size: 1.2rem;
  color: #888;
  text-align: center;
}
