$primary-color: #3498db;
$secondary-color: #2ecc71;

h1 {
  color: $primary-color;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

body {
  background-color: $secondary-color;
  font-family: 'Roboto', sans-serif;
}