<div>
  <h1>Liste des articles</h1>
  @for (article of articles; track $index) {<app-article  [article]="article" (liked)="onArticleLiked($event)"></app-article>}
  <!-- @for (likedArticle; track $index) {} -->
  <!-- <p *ngIf="likedArticle">{{ likedArticle }} vient d'être liké.</p> -->
  <!-- <app-article *ngFor="let article of articles" [article]="article"></app-article> -->
  @if (likedArticle){
    <div class="notification" [ngClass]="{ 'show': isShown, 'hide': !isShown }">
      <div class="icon">👍</div>
      <div class="message">L'article {{ likedArticle }} vient d'être liké</div>
    </div>
    <!-- <p>L'article "{{ likedArticle }}" vient d'être liké.</p> -->
  }
</div>
